<div ></div>
<% if user_signed_in? && current_user.id == @meal.user_id %>
<%= link_to '>編集',  edit_meal_path(@meal.id)%>
<%= link_to '>削除',meal_path(@meal.id), method: :delete, data:{ confirm: 'Are you sure?'} %>
<% end %>

<div class="mealName">
  <%= @meal.name %>
</div>
<% if @meal.image? %>
<div class="mealImage">
  <%= image_tag @meal.image.to_s, size:'280x210' %>
</div>
<% end %>
<div class="mealMaterials">
  <%= simple_format @meal.materials %>
</div>
<div class="mealStep1">
  <%= simple_format @meal.step1 %>
</div>
<% if @meal.step1_image? %>
<div class="mealStep1_image">
  <%= image_tag @meal.step1_image.url, size:'280x210' %>
</div>
<% end %>
<% if @meal.step2? %>
<div class="mealStep2">
  <%= simple_format @meal.step2 %>
</div>
<% end %>
<% if @meal.step2_image? %>
<div class="mealStep2_image">
  <%= image_tag @meal.step2_image.to_s, size:'280x210' %>
</div>
<% end %>
<% if @meal.step3? %>
<div class="mealStep3">
  <%= simple_format @meal.step3 %>
</div>
<% end %>
<% if @meal.step3_image? %>
<div class="mealStep3_image">
  <%= image_tag @meal.step3_image.to_s, size:'280x210' %>
</div>
<% end %>
<% if @meal.step4? %>
<div class="mealStep4">
  <%= simple_format @meal.step4 %>
</div>
<% end %>
<% if @meal.step4_image? %>
<div class="mealStep4_image">
  <%= image_tag @meal.step4_image.to_s, size:'280x210' %>
</div>
<% end %>
<% if @meal.step5? %>
<div class="mealStep5">
  <%= simple_format @meal.step5 %>
</div>
<% end %>
<% if @meal.step5_image? %>
<div class="mealStep5_image">
  <%= image_tag @meal.step5_image.to_s, size:'280x210' %>
</div>
<% end %>
<% if @meal.protein? %>
<div class="mealProtein">
  <%= @meal.protein %>
</div>
<% end %>
<% if @meal.fat? %>
<div class="mealFat">
  <%= @meal.fat %>
</div>
<% end %>
<% if @meal.carbo? %>
<div class="mealCarbo">
  <%= @meal.carbo %>
</div>
<% end %>